<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logompd.png') }}">
    <title>Meepoomdee | Tracking</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RRQVWZT42V"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RRQVWZT42V');
    </script>

</head>
<body>
    <div class="col-12 col-sm-10 container testheight" align="right">
        <h5 class="font_kanit">ติดต่อเรา<br><a href="tel:+66659245668">065-924-5668</a></h5>
            <a href="https://www.facebook.com/bebeshopofficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/bebeshopth/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCP3wI4IQQuJ6sHZoT900MrQ" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>

    <div class="bgmain bgmain-reponsive">
        <div class="container_form">
            <form method="post" >
                <label for="telephone_no" class="form-label">หมายเลขโทรศัพท์:</label>
                <div class="form-group">                   
                    <input type="text" class="form-control" id="telephone_no" name="telephone_no" placeholder="กรอกหมายเลขโทรศัพท์ 10 หลัก">
               
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
            </div>
            </form>
            {% if result %}
                <div class="table-responsive mt-5">
                    <table class="table table-hover table-bordered table-sm table-dark">
                        <thead class="table-primary text-body">
                            <tr>
                                <th>วันที่</th>
                                <th>ลูกค้า</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>จัดส่งโดย</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                                <tr>
                                    <td>{{ row.create_file }}</td>
                                    <td>{{ row.recipient_name }}</td>
                                    <td>{{ row.recipient_phone }}</td>
                                    <td>{{ row.shipment }}</td>
                                    <td>
                                        {% if row.shipment == 'Kerry' %}
                                            <a href="https://th.kerryexpress.com/th/track/?track={{ row.tracking_no }}" target="_blank" class="btn btn-primary btn-sm">เช็คพัสดุ</a>
                                        {% elif row.shipment == 'Dhl' %}
                                            <a href="https://www.dhl.com/th-th/home/tracking.html?tracking-id={{ row.tracking_no }}" target="_blank" class="btn btn-primary btn-sm">เช็คพัสดุ</a>
                                        {% elif row.shipment == 'jnt' %}
                                            <a href="https://www.jtexpress.co.th/service/track?waybillNo={{ row.tracking_no }}" target="_blank" class="btn btn-primary btn-sm">เช็คพัสดุ</a>
                                        {% elif row.shipment == 'flash' %}
                                            <a href="https://www.flashexpress.co.th/tracking/?se={{ row.tracking_no }}" target="_blank" class="btn btn-primary btn-sm">เช็คพัสดุ</a>
                                        {% elif row.shipment == 'spx' %}
                                            <a href="https://spx.co.th/detail/{{ row.tracking_no }}" target="_blank" class="btn btn-primary btn-sm">เช็คพัสดุ</a>
                                        {% else %}
                                            data not found
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif error %}
                <div class="alert alert-danger mt-5">
                    <strong>{{ error }}</strong>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        const liffId = "1657693635-EpgjM5b7";
        liff.init({ liffId: liffId })
            .then(() => {
                if (liff.isLoggedIn()) {
                    return liff.getProfile();
                }
            });
    </script>
</body>
</html>
